---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css'
---

<Layout title="Tammolab">
	<main>
		<h1 id="title">Welcome to <span class="grad">Tammolab's</span> About</h1>
		<Navbar />
		
		<hr>

		<section>
			<p>This is a very cool about me section, once again, dad, you are going to have to tell
                me what you'd like to be put on here.
            </p>
		</section>
	</main>
</Layout>
