---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css'
---

<Layout title="Tammolab">
	<main>
		<h1 id="title">Welcome to <span class="grad">Tammolab's</span> Skills</h1>
		<Navbar />
		
		<hr>

		<section>
			<p>
                As I've been doing many things in life, I have aquired the following skills over the span of 
                the 30+ year journey! 
            </p>
            <ul>
                <li>
                    Playing the violin
                </li>
                <li>
                    Touch typing 100+ Words Per minutes
                </li>
                <li>
                    Taking long walks on the beach
                </li>
            </ul>
        </section>
	</main>
</Layout>
