---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css'
---

<Layout title="Tammolab">
	<main>
		<h1 id="title">Welcome to <span class="grad">Tammolab's</span> Work</h1>
		<Navbar />
		
		<hr>

		<section>
			<p>
                Welcome to the page that talks about my work!
            </p>
		</section>
	</main>
</Layout>
